
<%- include('../partials/header'); -%>

    <div class="inner-main">

      <!-- Forum List -->
      <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
        <div class="card mb-2">
          <div class="card-body p-2 p-sm-3">
              <div class="media forum-item">
              <div class="row">
                <div class="col-md-6 mb-4 mb-4">
                  <% if (items.gambar=="") { %>
                    <img src="/asset/img/sepatu (2).jpg" class="card-img-top" alt="<%= items.nama %>" />
                  <% } else { %>
                    <img src="/uploads/produk/<%= items.gambar %>" class="card-img-top" alt="<%= items.nama %>" />  
                  <% } %>
                </div>
                <div class="col-md-4 mt-5">
                  <h3><%= items.nama %></h3>
                  <span></span> </br>
                  <span>Rp<%= items.harga %></span><br><br>
                  <span id="stok-barang">Stok : <%= items.stok %></span><br><br>
                  <div class="mb-3 mt-2">
                    <label for="deskripsi_produk" class="form-label">Deskripsi</label>
                    <textarea class="form-control" id="deskripsi_produk" placeholder="Deskripsi Produk" readonly><%= items.deskripsi %></textarea>
                  </div> 
                  <form action="" method="post">
                    <div class="mb-3 mt-2">
                      <label for="jumlahYangInginDibeli" class="form-label">Masukkan jumlah yang ingin dibeli</label>
                      <input type="number" min="1" max="5" class="form-control" aria-label="Text input with checkbox" id="jumlahYangInginDibeli" value="1" required>
                    </div> 
                    <div class="d-grid gap-2">
                      <a href="/marketplace/detailPembayaran" style="color: white; text-decoration:none;" class="btn btn-dark rounded-pill" type="button">Beli</a>
                    </div>
                  </form>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>

      function ambilJumlah() {
        const jumlah = document.getElementById("jumlahYangInginDibeli").value
        const stok = document.getElementById("stok-barang").innerHTML

        confirm(jumlah, stok)
      }
    </script>

  </body>
</html>
